body {
  background-color: #a9a9a9;
}

header#portfolio-header {
  background: url(images/hero.jpg) center / cover;
  background-attachment: fixed;
  height: 60vh;
  justify-content: center;
  text-align: center;
}

.title {
  color: #9e9e9e;
  font-size: 4.0rem;
  font-family: Raleway, Arial, sans-serif;
}
.subtitle {
  color: #9e9e9e;
  font-size: 2.0rem;
}

main {
  max-width: 900px;
}

.card-image-frame {
  border-bottom: 1px solid lightgray;
}

.card-image-frame .card-image-focus-message {
  visibility: hidden;
  width: auto;
  background-color: black;
  color: gainsboro;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  z-index: auto;
  top: 0%;
  left: 0%;
  opacity: 0;
  transition: opacity 0.3s;
}

.card-image-frame:hover .card-image-focus-message {
  visibility: visible;
  opacity: 1;
}

.cbc { /* ct stands for card background color */
  background-color: whitesmoke;
}
.ct { /* ct stands for card title */
  font-family: Raleway, Arial, sans-serif;
}
.cd { /* ct stands for card description */
  color: black;
  font-family: 'Open Sans', sans-serif;
}


/* .project-description {
  padding-left: 0;
} */

.project img {
  width: 100%;
}

footer#connect {
  bottom: 0;
  padding: 0.5rem;
  position: fixed;
  width: 100%;
  z-index: 1;
  color: #a9a9a9;
}

#footer-links {
  margin: auto;
  font-size: 2rem;
}

@media screen and (max-width: 1024px) {
  header#portfolio-header {
    display: flex;
  }
}

.footer-area {
  height: 50px;
}
